.field__input {
    --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #767676);

    background-color: transparent !important;
    border-radius: 0;
    border: none;

    -webkit-appearance: none;
    -moz-appearance: none;

    font-family: inherit;
    font-size: inherit;
}

.field__input:focus::-webkit-input-placeholder {
    color: var(--uiFieldPlaceholderColor);
}

.field__input:focus::-moz-placeholder {
    color: var(--uiFieldPlaceholderColor);
}

/*
=====
CORE STYLES
=====
*/

.field {
    --uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
    --uiFieldPaddingRight: var(--fieldPaddingRight, 1rem);
    --uiFieldPaddingLeft: var(--fieldPaddingLeft, 1rem);
    --uiFieldBorderColorActive: var(--fieldBorderColorActive, rgba(22, 22, 22, 1));

    display: var(--fieldDisplay, inline-flex);
    position: relative;
    font-size: var(--fieldFontSize, 1rem);
    @apply w-full;
}

.field__input {
    box-sizing: border-box;
    width: var(--fieldWidth, 100%);
    height: var(--fieldHeight, 3rem);
    font-size: 14px;
    padding: 24px 0 0 9px;
    border-bottom: var(--uiFieldBorderWidth) solid var(--fieldBorderColor, rgba(0, 0, 0, 0.25));
}

.field__input:focus {
    outline: none;
}

.field__input::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

.field__input::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

.field__input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition-delay: 0.2s;
}

.field__input:focus::-moz-placeholder {
    opacity: 0;
    transition-delay: 0.2s;
}

.field__label_wrap {
    box-sizing: border-box;
    pointer-events: none;
    cursor: text;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.field__label_wrap::after {
    content: '';
    box-sizing: border-box;
    width: 100%;
    height: 0;
    opacity: 0;

    position: absolute;
    bottom: 0;
    left: 0;
}

.field__input:focus ~ .field__label_wrap::after {
    opacity: 1;
}

.field__label {
    position: absolute;
    left: 0;
    top: calc(50% - 0.5em);
    line-height: 1;
    /* font-size: var(--fieldHintFontSize, inherit); */

    transition: top 0.2s cubic-bezier(0.9, -0.15, 0.1, 1.15), opacity 0.2s ease-out,
        font-size 0.2s ease-out;
    will-change: bottom, opacity, font-size;
}

.field__input:focus ~ .field__label_wrap .field__label,
.field__input:not(:placeholder-shown) ~ .field__label_wrap .field__label {
    --fieldHintFontSize: var(--fieldHintFontSizeFocused, 0.75rem);

    top: var(--fieldHintTopHover, 0.25rem);
}

.field_v2 .field__label_wrap {
    overflow: hidden;
}

.field_v2 .field__label_wrap::after {
    border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColorActive);
    transform: translate3d(-105%, 0, 0);
    will-change: transform, opacity;
    transition: transform 0.285s ease-out 0.2s, opacity 0.2s ease-out 0.2s;
}

.field_v2 .field__input:focus ~ .field__label_wrap::after {
    transform: translate3d(0, 0, 0);
    transition-delay: 0;
}

.field {
    --fieldBorderColor: #45535d;
    --fieldBorderColorActive: #1d272e;
}
